.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.gitignore
.github/**
.yarnrc
.env
.venv/**
webpack.config.cjs
webpack.web.config.cjs
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
