.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.gitignore
.github/**
.yarnrc
.venv/**
.kilo/**
server.log
webpack.config.js
webpack.web.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
.env
